{% extends 'base.html.twig' %}

{% block title %}Hello PrestaController!
{% endblock %}


{% block metas %}
<meta http-equiv="refresh" content="10; url=/">
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
	<h1>Reservation</h1>
	<hr>
	<br>
	<div class="row">
		<div class="col-12">
			BRAVO reservation confirmé
		</div>
       
	</div>
{% endblock %}
